#the-table{
	background: green;
	max-width: 600px;
	height:470px;
	border-radius: 10px;
	margin: auto;
	margin-top: 30px;
}

#win-loss{
	background-color: red;
	width: 15%;
	margin: auto;
	color: white;
	text-align: center;
}

#win-count{
	display: inline;
}

.card{
	color: black;
	background: white;
	height: 60px;
	width: 30px;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	text-align: center
}

.card.empty{
	background: url('Playing Card back.jpg') center no-repeat;
	background-size: 55px 85px;
	border: solid 2px white;


}

#dealer-hand, #players-hand{
	overflow: hidden;
}

#dealer-hand .card{
	float: left;
}

#players-hand .card{
	float: left;
}

#dealer-total-wrapper, #player-total-wrapper{
	float: left;
	height: 60px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	margin: 10px;
	padding: 10px;
	color: white;
	font-size: 22px;
}

#dealer-total, #player-total{

}

#play-buttons{
	overflow: hidden;
}

#draw-button{
	margin-left: 10%;
}

#draw-button, #hit-button, #stand-button {
	width: 20%;
	float: left;
	text-align: center;
	background-color: #0f0f0f;
	color: white;
	margin-top: 20px;
	margin-right: 10%;
	margin-bottom: 10px;
	/*margin: 20px 10% 10px 0px;*/
}

#message{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
.gamble-buttons .bet{
	display:inline;
	float:left;
	margin: 0px 80px 0px;
}
.gamble-buttons .bet-amount{
	display:inline;
	float:left;
	color:white;
	margin: 10px 20px;
	width:160px;
	text-align: center;
}
.up-arrow:hover{
	border-bottom: 20px solid #999;
	cursor: pointer;
}
.down-arrow:hover{
	border-top: 20px solid #999;
	cursor: pointer;
}
.up-arrow{
	width:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
	margin-bottom: 10px;
	border-radius: 10px;
}
.down-arrow{
	width:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
	margin-top: 10px;
	border-radius: 10px;
}

#wager{
	text-align: center;
	margin-top: 100px;
	color:white;
}